.post {
  margin-top: 40px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  white-space: inherit;
  opacity: 1;
  animation: post_anim .7s;
} .post_head {
  display: flex;
  flex-direction: row;
} .post_time {
  margin-left: 10px;
  margin-top: 8px;
  font-size: 10px;
  color: #999;
} .post_title {
  font-size: 18px;
} .post_text {
  margin: 6px 22.7px 1px;
  color: #ccc;
  transition: all .4s;
} .post_end_url {
  width: fit-content;
  margin-right: 10px;
} .post_image {
  margin: 6px 22px 0;
  width: 90%;
  max-width: 600px;
  height: auto;
  filter: grayscale();
  transition: all .5s;
  border: #444 1px solid;
} .post_image:hover {
  filter: none;
} br {
  margin-bottom: 7px;
}

.image_filter-blur{
  filter: blur(5px); 
  clip-path: fill-box ;
} .image_filter-no-border{
  border: 0;
}


@media (max-width:400px) {
  .post_head{
    flex-direction: column-reverse;
  } .post_time {
    margin-left: 24px;
  } .post_image {
    width: 85%;
  }
}

@keyframes post_anim {
  0%  {opacity: 0;}
  100%{opacity: 1;}
}